/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.check-box .text{
	-fx-font-weight: bold;
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: #00CC66;
}
